[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gghist"]
	path = gghist
	url = https://github.com/frederikziebell/gghist
	shallow = true
	registered = true
